@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  font-family: Oswald;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: lightcyan;
  margin-bottom: 17px;
  box-shadow: rgb(0, 0, 61);
}

fieldset {
  border-radius: 20px;
  background-color: lightcyan;
  width: 70%;
  margin: 30px auto;
  padding-left: 40px;
  box-shadow: 5px 5px 5px 2px rgb(118, 189, 237);
}

input[type="text"],
input[type="number"] {
  margin-bottom: 10px;
}

input[name="aluno"],
input[name="autor"] {
  width: 250px;
}

input[name="media"],
input[name="matricula"],
input[name="desconto"] {
  width: 100px;
}

button {
  height: 33px;
  font-weight: bold;
  font-size: 18px;
  font-family: Oswald;
}

p {
  border: 1px solid black;
  margin: 3% auto;
  border-radius: 15px;
  text-align: center;
}

span {
  color: purple;
  font-style: italic;
  font-weight: bold;
}

table {
  width: 50%;
  border: 1px solid black;
  margin: 30px auto;
  box-shadow: 5px 5px 5px rgb(0, 0, 61);
}

th {
  color: white;
}

td {
  background-color: lightblue;
}

textarea {
  width: 70%;
  height: 90px;
  font-family: Oswald;
  /*vertical-align: top; alinha o texto do label em relação ao textarea*/

  resize: none; /*desativa a alça de redimensionamento*/
}

div {
  margin-top: 20px;
}
