
/* Estilo para dispositivos móveis*/
body{
 background: gainsboro;
 font-family: sans-serif;
 font-size: 1.5rem; /* 1.5 vezes o tamanho da fonte raiz */
 font-weight: bold;
 margin: 0;
 padding: 0;

 header{
 background-color: black; /* Cor de fundo*/
 color: gainsboro; /* Cor do Texto*/
 width: 100%; /* Ocupa toda a largura da tela*/
 display: flex; /* Define que o elemento é flex*/
 justify-content: flex-start; /* Alinha o conteúdo à esquerda*/
 padding-left: 1rem; /* Espaçamento interna responsivo */
}

 .painel-cartoes{
   display: flex;
   justify-content: space-evenly; /* Distribui o espaço entre os filho de maneira igual*/
   flex-wrap: wrap; /* Permite que o flex defina o número de elementos por linha*/
   gap: 1rem; /* Define o espaço entre os elementos filhos*/
   padding: 1rem;
   margin-bottom: 15rem;
}

.cartao{
   width: 20rem; /*largura responsiva*/
   height: 10rem; /*altura responsiva*/
   background-color: gray;
   border-radius: 10px;
   display: flex; /* flex para os elementos internos */
   flex-direction: column; /* elementos filho apresentados em coluna e não linha*/
   gap: 1rem;
   justify-content: center; /*filhos centralizados horizontalmente*/
   align-items: center; /*filhos centralizados verticalmente*/
}

footer{
 background-color: black;
 color: gainsboro;
 width: 100%;
 height: 10rem;
 position: fixed; /* Mantém o elemento sempre fixo na posição */
 bottom: 0; /* define o elemento a 0 pixels da parte inferior da tela */
 display: flex;
}

.opcao{
 width: 100%;
 display: flex;
 flex-direction: column; /* Texto foi para baixo do icone */
 gap: 1rem; /* Espaçamento entre o icone e o texto */
 justify-content: center;
 align-items: center;
}
}


/* Estilo para tablets (Largura mínima de 768px) */
@media (min-width: 768px){
body{
 background: gainsboro;
 font-family: sans-serif;
 font-size: 1.5rem; /* 1.5 vezes o tamanho da fonte raiz */
 font-weight: bold;
 margin: 0;
 padding: 0;

 header{
 background-color: black; /* Cor de fundo*/
 color: gainsboro; /* Cor do Texto*/
 width: 100%; /* Ocupa toda a largura da tela*/
 display: flex; /* Define que o elemento é flex*/
 justify-content: flex-start; /* Alinha o conteúdo à esquerda*/
 padding-left: 1rem; /* Espaçamento interna responsivo */
}

 .painel-cartoes{
   display: flex;
   justify-content: space-evenly; /* Distribui o espaço entre os filho de maneira igual*/
   flex-wrap: wrap; /* Permite que o flex defina o número de elementos por linha*/
   gap: 1rem; /* Define o espaço entre os elementos filhos*/
   padding: 1rem;
   margin-bottom: 15rem;
}

.cartao{
   width: 20rem; /*largura responsiva*/
   height: 10rem; /*altura responsiva*/
   background-color: gray;
   border-radius: 10px;
   display: flex; /* flex para os elementos internos */
   flex-direction: column; /* elementos filho apresentados em coluna e não linha*/
   gap: 1rem;
   justify-content: center; /*filhos centralizados horizontalmente*/
   align-items: center; /*filhos centralizados verticalmente*/
}

footer{
 background-color: black;
 color: gainsboro;
 width: 100%;
 height: 10rem;
 position: fixed; /* Mantém o elemento sempre fixo na posição */
 bottom: 0; /* define o elemento a 0 pixels da parte inferior da tela */
 display: flex;
}

.opcao{
 width: 100%;
 display: flex;
 flex-direction: column; /* Texto foi para baixo do icone */
 gap: 1rem; /* Espaçamento entre o icone e o texto */
 justify-content: center;
 align-items: center;
}
}
}


/* Estilo para desktops (Largura mínima de 1024px) */
@media (min-width: 1024px){
body{
 background: gainsboro;
 font-family: sans-serif;
 font-size: 1.5rem; /* 1.5 vezes o tamanho da fonte raiz */
 font-weight: bold;
 margin: 0;
 padding: 0;

 header{
 background-color: black; /* Cor de fundo*/
 color: gainsboro; /* Cor do Texto*/
 width: 100%; /* Ocupa toda a largura da tela*/
 display: flex; /* Define que o elemento é flex*/
 justify-content: flex-start; /* Alinha o conteúdo à esquerda*/
 padding-left: 1rem; /* Espaçamento interna responsivo */
}

 .painel-cartoes{
   display: flex;
   justify-content: space-evenly; /* Distribui o espaço entre os filho de maneira igual*/
   flex-wrap: wrap; /* Permite que o flex defina o número de elementos por linha*/
   gap: 1rem; /* Define o espaço entre os elementos filhos*/
   padding: 1rem;
   margin-bottom: 15rem;
}

.cartao{
   width: 20rem; /*largura responsiva*/
   height: 10rem; /*altura responsiva*/
   background-color: gray;
   border-radius: 10px;
   display: flex; /* flex para os elementos internos */
   flex-direction: column; /* elementos filho apresentados em coluna e não linha*/
   gap: 1rem;
   justify-content: center; /*filhos centralizados horizontalmente*/
   align-items: center; /*filhos centralizados verticalmente*/
}

footer{
 background-color: black;
 color: gainsboro;
 width: 100%;
 height: 10rem;
 position: fixed; /* Mantém o elemento sempre fixo na posição */
 bottom: 0; /* define o elemento a 0 pixels da parte inferior da tela */
 display: flex;
}

.opcao{
 width: 100%;
 display: flex;
 flex-direction: column; /* Texto foi para baixo do icone */
 gap: 1rem; /* Espaçamento entre o icone e o texto */
 justify-content: center;
 align-items: center;
}
}
}
